// main.scss



@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/placeholders';
@import 'base/typography';




/* GENERAL
===================================================================================== */

body, h2, h3 {
  margin: 0;
}

#flex{
  @extend %flexDisplayColumn;
}

header{
  @include padd(1rem, 3rem, 1rem, 3rem);
  text-align: center;
}

section{
  @extend %flexDisplayColumn;
}


button{
  @include padd(.5rem, .75rem, .5rem, .75rem);
}

article{
  padding: .5rem;
  box-shadow: 0 0 7px #cdcecf;
  @extend %flexDisplayColumn;
}

/* BACKGROUND COLORS
===================================================================================== */

body{
  background-color: $color-two;
}

article{
  background-color: $color-one;
}

header{
  background-color: $color-three;
}

button{
  background-color: $color-four;
}


/* FONTS
===================================================================================== */


h1{
  color: $color-one;
}

h2, p, label{
  color: $color-five;
}

h3, button, legend{
  color: $color-six;
}

h1, h2, label, legend{
  font-size: 1.5rem;
}

h3, p, button{
  font-size: 1rem;
}

h1, h2, label, h3, p, button{
  font-family: $fonts;
}


/*
===================================================================================== */

article p:nth-of-type(2) {
  justify-content: flex-end;
  align-items: end
}

button {
  border: none;
  border-radius: 5px;
}

article {
  p:nth-of-type(2) {
    color: $color-seven;
  }
}

article {
  p:nth-of-type(2)::before {
    content: url("../image/date.PNG");
    position: relative;
    bottom: .4rem;
  }
}


article {
  padding: .5rem;
  @include marg(1.5rem, 0, 0, 0);
  box-shadow: 0 0 7px #cdcecf;

}

p{
  margin-top: .5rem;
}

article:last-of-type{
  margin-bottom: 5rem;
}


@media(min-width: 320px){

  section{
    @include marg(0, 1.5rem, 0, 1.5rem);
  }

  section:first-of-type{
    margin-top: 2rem;
  }

}



@media(min-width: 1000px){

  header{
    text-align: left;
  }


  #flex{
    flex-direction: row;
    justify-content: space-around;
  }

  section{
    margin-top: 2rem;
    width: calc(100%/3);
  }

}

form{
  width: 100%;
}

input, label, textarea{
  display: flex;
  width: 100%;
}

form button, label{
  margin-top: 1rem;
}


form{
  @extend %flexDisplayColumn;
  width: 100%;
  align-items: center;
}

input, label, textarea{
  width: 50%;
}

form button, label{
  margin-top: 1rem;
}

.error{
  background-color: rgba(255,0,0,.4);
}

.disabled{
  opacity: .7;
}

.disabled:hover{
  cursor: not-allowed;
}

button:hover{
  cursor: pointer;
}

fieldset{
  @extend %flexDisplayRow;
  width: 60%;
  margin-top: 2rem;
}

header, .taskHeader, #formButtons{
  @extend %flexDisplayRow;
  justify-content: space-between;
}

header button{
  margin: 1rem;
}

form button:not(:last-of-type){
  margin-right: 2rem;
}




/* CHOOSE YOUR COLOR */


#colorChoice fieldset button:first-of-type{
  background-color: #00bcff;
}

#colorChoice fieldset button:nth-of-type(2){
  background-color: #B22222;
}

#colorChoice fieldset button:nth-of-type(3){
  background-color: #f47fbb;
}

#colorChoice fieldset button:nth-of-type(4){
  background-color: #90c070;
}

#colorChoice fieldset button:nth-of-type(5){
  background-color: #d896ff;
}

#colorChoice fieldset button:last-of-type{
  background-color: #FF5B21;
}


#colorChoice fieldset button{
  padding: 10%;
  display: inline;
  margin: 2%;
}

#colorChoice label{
  display: block;
}